/* header styels start */
.header{
    margin: 10px 20px;
}
.header nav{
    display: flex;
    justify-content: space-between;
}
.nav{
    display: flex;
    gap: 35px;
}
.nav img{
    margin-top: 23px;
}
.nav h2{
    font-size: 36px;
    font-weight: bolder;
    display: inline;
}


/* banner start */
.banner{
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    display: grid;
    
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
}
.banner div{
    width: 780px;
    height: 84px;
    /* background: bisque; */
    position: relative;
    /* left: 250px; */
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.banner h1{
    font-size: 64px;
    font-weight: bolder;
    margin-bottom: -140px;
}
.banner p{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: -50px;
}

.b-div2 input{
    width: 170px;
    height: 50px;
    border-radius: 10px;
}
.b-div2 select,button{
    width: 170px;
    height: 55px;
    margin-left: 10px;
    border-radius: 10px;
}
.btn{
    background-color: #FF5400;
    font-size: 16px;
    font-weight: 700px;
    color: white;
}

/* Main part start  */
.sec-1{
    display: flex;
    width: 1300px;
    height: 550px;
    margin: 100px 30px;
    gap: 50px;

}
.sec-1-d1 h2{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.sec-1-d1 p, li{
    font-size: 16px;
    font-weight: normal;
    color: #5A5A5D;
    margin-bottom: 20px;
}
.sec-1-d1{
    width: 720px;
}

/* section 2 start */
.sec-2{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-top: -110px;
}


.sec-3{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 70px;

}
.div2-s3{
    background-color:bisque;
    border-radius: 10px;
    width: 570px;
    height: 280px;
    text-align: left;
    margin-top: 30px;
}


/* section 5 */
.sec-5{
    width: 950px;
    height: 300px;
    background-color: azure;
    margin-top: -100px;
    border-radius: 10px;
    
}
.sec-5 input{
    width: 450px;
    height: 40px;
    border-radius: 10px;
}
.sec-5 button{
    width: 200px;
}
.sec-5-container{
    display: flex;
    justify-content: center;
        text-align: center;
        align-items: center;
}


/* footer */
.footer{
    height: 450px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff1bacd;
    margin-top: 30px;
}